body {
    font-family: Arial, sans-serif;
    background-color: #a065b0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #d6aaaa;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 5 10px 20px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#add-task-button {
    padding: 10px;
    border: none;
    background-color: #aeb171;
    color: rgb(195, 208, 207);
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#task-list li {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #9fb985;
}

.task {
    flex: 1;
    text-align: left;
}

.task.completed {
    text-decoration: line-through;
    color: #c1913f;
}

.delete-button {
    background: none;
    border: none;
    color: #b39491;
    cursor: pointer;
}

.filter-buttons {
    margin-top: 30px;
}

.filter {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #a4a064c6;
    margin: 5 10px;
    border-radius: 8px;
}

.filter.active {
    background-color: #5fc6bbc4;
    color: white;
}
